
* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 1440px) {

    .conteiner {
        width: 600px;
        height: 450px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 15px;
        display: flex;
        margin-top: 40%;
    }

    .wrapper img {
        height: 100%;
        border-radius: 15px 0 0 15px;
    }

    .name {
        color: hsl(212, 21%, 14%);
        margin-top: 25px;
        font-family: 'Fraunces', 'Arial', serif;
        font-weight: 700;
        font-size: 28pt;
        line-height: 1;
    }

    .discription {
        color: hsl(228, 12%, 48%);
        margin-top: 25px;
        font-family: 'Montserrat', 'Arial', sans-serif;
        font-weight: 500;
        font-size: 12pt;
        
    }
    
    .cart {
        background-color: hsl(158, 36%, 37%);
        height: 50px;
        width: 235px;
        margin-top: 15px;
        border-radius: 8px;
        display: flex;
    }

    .cart img {
        height: 35%;
        margin-left: 20%;
        margin-top: 7%;
    }

    .add {
        color: white;
        font-family: 'Montserrat', 'Arial', sans-serif;
        font-weight: 700;
        font-size: 12pt;
        margin-top: 15px;
        margin-left: 10px;
    }
    


}

@media screen and (min-width: 300px) and (max-width: 1439px) {
    .conteiner {
        width: 330px;
        height: 600px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 15px;
        margin-top: 10%;
    }

    .wrapper{
        width: 330px;
        height: 150px;
        overflow: hidden;
    }
    .wrapper img{
        object-fit: cover;
        width: 100%;
        height: 200%;
        border-radius: 15px 15px 0 0;
    }

    .name {
        color: hsl(212, 21%, 14%);
        margin-top: 25px;
        font-family: 'Fraunces', 'Arial', serif;
        font-weight: 700;
        padding-right: 25%;
        font-size: 28pt;
        line-height: 1;
    }

    .discription {
        color: hsl(228, 12%, 48%);
        margin-top: 25px;
        font-family: 'Montserrat', 'Arial', sans-serif;
        font-weight: 500;
        font-size: 12pt;
        padding-right: 10%;
        
    }

    .cart {
        background-color: hsl(158, 36%, 37%);
        height: 50px;
        width: 270px;
        margin-top: 15px;
        border-radius: 8px;
        display: flex;
    }

    .cart img {
        height: 45%;
        margin-left: 20%;
        margin-top: 5%;
    }

    .add {
        color: white;
        font-family: 'Montserrat', 'Arial', sans-serif;
        font-weight: 700;
        font-size: 14pt;
        margin-top: 12px;
        margin-left: 10px;
    }

}

.Product {
    margin: 0 0 0 30px;
}

.kind {
    color: hsl(228, 12%, 48%);
    margin: 35px 0 0 0;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5em;
    font-size: 10pt;

}

.price {
    margin-top: 15px;
    display: flex;
}
.sale {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', 'Arial', serif;
    font-weight: 500;
    font-size: 30pt;
    margin-right: 15px;
}

.normal {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 500;
    margin-top: 12pt;
}

.cart:hover{
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}
